*{
    margin: 0;
    padding: 0;
}

body, html {
    margin: 0;
    font-family: 'Space Mono', monospace;
    font-size: 17px;
    color: #ffffff;
    line-height: 1.6;
    text-shadow: 2px 2px #7f7f7f;
  }
h1{
    font-size: 8vh;
}
.bg-image {
    background-image: url("./bg2.png");
    background-color: #262626;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index:-1;
    height: 100%;

    }

a:link {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

a:active {
    text-decoration: none;
}
.projects-container{
    text-align: center;
    /* border: 0.4vh solid black; */
}

.projects-row{
    display: flex;
    /* border: 0.3vh solid rgb(240, 0, 0); */
    flex-flow: row wrap;
    column-gap: 10vh;
    row-gap: 5vh;
    padding-bottom: 5vh;
    justify-content: center;
    /* padding-bottom: 1vh; */

}

.project{
    /* border: 0.1vh solid black; */
    font-size: 3vh;
    width:45vh;
    height: 30vh;
    /* background-color: lightblue; */
    border-radius: 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
  rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.pythonproj{
    background-image: url(./pythonbg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.htmlproj{
    background-image: url(./htmlbg.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

.jsproj{
    background-image: url(./jsbg.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.fa-diagram-project{
    font-size: 8vh;
}
.project{
    transition: 0.3s;
}
.project:hover{
    transform: scale(1.1);
    background-image:url(./grunge.jpg) ;

}

.tags-container {
    font-size: 20px;
    width:45vh;
    height: 24vh;
    border: 0.1vh solid red;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tags{
    border: 0.1vh solid greenyellow;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 10px;
    padding-top:14vh;
}

.python-tags p{
    border-radius: 5px;
    padding: 0px 5px;
    background-color:rgba(87, 164, 228, 0.541);
}
.react-tags p{
    border-radius: 5px;
    padding: 0px 5px;
    background-color:rgba(228, 87, 209, 0.541);
}
.js-tags p{
    border-radius: 5px;
    padding: 0px 5px;
    background-color:rgba(255, 185, 79, 0.541);
}
.html-tags p{
    border-radius: 5px;
    padding: 0px 5px;
    background-color:rgba(228, 87, 87, 0.541);
}
.css-tags p{
    border-radius: 5px;
    padding: 0px 5px;
    background-color:rgba(228, 87, 87, 0.541);
}
.api-tags p{
    border-radius: 5px;
    padding: 0px 5px;
    background-color:rgba(87, 120, 228, 0.541);
}
.db-tags p{
    border-radius: 5px;
    padding: 0px 5px;
    background-color:rgba(0, 196, 26, 0.541);
}
.desc{
    opacity: 0;
    height: 60%;
    transition: 0.3s;
    /* border: 0.1vh solid greenyellow; */
    font-size: 18px;
    text-align: center;
    position: relative;

}
.desc:hover{
    opacity: 1;
}

@media only screen and (max-width: 700px){
    .tags{
        padding-top: 18vh;
    }
    .desc{
        font-size: 12px;
    }
}

#gibberish{
    background-image: url(./gibberishMock.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#gibberish:hover{
    background-image:url(./grunge.jpg);
}

#ignition{
    background-image: url(./ignitionMock.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#ignition:hover{
    background-image:url(./grunge.jpg);
}

#aboutmequiz{
    background-image: url(./aboutmeMock.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#aboutmequiz:hover{
    background-image:url(./grunge.jpg);
}

#pomodoro{
    background-image: url(./pomodoroMock.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#pomodoro:hover{
    background-image:url(./grunge.jpg);
}

#mcwiki{
    background-image: url(./mc-wiki.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#mcwiki:hover{
    background-image:url(./grunge.jpg);
}

#neonport{
    background-image: url(./3dportMock.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#neonport:hover{
    background-image:url(./grunge.jpg);
}

#airfoodie{
    background-image: url(./recipeMock.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#airfoodie:hover{
    background-image:url(./grunge.jpg);
}

#aboutcard{
    background-image: url(./cardMock.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#aboutcard:hover{
    background-image:url(./grunge.jpg);
}

#remindme{
    background-image: url(./remindMock.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#remindme:hover{
    background-image:url(./grunge.jpg);
}

#mentalbeing{
    background-image: url(./mentalMock.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#mentalbeing:hover{
    background-image:url(./grunge.jpg);
}